fastapi[standard]>=0.113.0,<0.114.0
pydantic>=2.7.0,<3.0.0
chromadb
llama-index
llama-index-llms-ollama
sse_starlette
transformers 
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
llama-index-embeddings-huggingface